;; shadow-cljs configuration
{:deps {:aliases [shadow]}
  :builds
 {;; Runs shadow node-test
  ;; `shadow-cljs compile node-test`
  :node-test {:target :node-test
             :output-to "out/test/igraph.js"
              :autorun true
              ;;:compiler-options {:infer-externs :auto}
             }
  } ;; /builds
}
